table {
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    border: 1px solid black;
    padding: 30px;
    background-color: rgb(219, 242, 247);

}

th {
    text-align: left;
    color: #ffffff;
    font-size: 30px;
    background-color: rgb(195, 115, 177);

}

/* 
.One {
    display: flex;
    justify-content: center;
    margin-top: 100px;
} */